<mat-nav-list>

   <h2 matSubheader>Features</h2>

   <a mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/">{{'Home' | translate}}</a>
   <a mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/fontawesome">{{'Font Awsome' | translate}}</a>
   <a mat-list-item
      routerLink="/login">{{'Login' | translate}}</a>
   <a mat-list-item
      routerLink="/ngrx">{{'NGRX' | translate}}</a>
   <a mat-list-item
      routerLink="/types">{{'Types' | translate}}</a>



</mat-nav-list>