<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button
            (click)="toogleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <div fxFlex
         fxLayout="row"
         fxLayoutAlign="flex-end">

      <ul fxLayout="row"
          fxLayoutGap="20px">
        <li>

          <button mat-icon-button
                  (click)="onChangeLanguage(language)"
                  [fxHide]="language.locale === translateService.currentLang"
                  *ngFor="let language of languages">
            <mat-icon svgIcon="{{language.locale}}-flag"></mat-icon>

          </button>


        </li>

        <li *ngIf="(user$ | async)?.username">
          <button mat-button
                  [matMenuTriggerFor]="menu">
            <mat-icon fontSet="fa"
                      class="md-24"
                      fontIcon="fa-user"></mat-icon>
            <span>{{(user$ | async)?.username}}</span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item
                    (click)="onLogout()">
              <mat-icon fontSet="fa"
                        class="md-24"
                        fontIcon="fa-sign-out"></mat-icon>
              <span>{{'Sign out' | translate}}</span>
            </button>
          </mat-menu>
        </li>


      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>